<header class="fixed top-0 left-0 w-full bg-primary p-4 font-poppins shadow-md z-50 text-xl">
  <div class="flex flex-row ml-10 mr-10 lg:ml-40 lg:mr-40 justify-between items-center">
    <div class="text-white font-semibold">Jon <span class="text-secondary">Doe</span></div>
    <ul class="hidden md:flex flex-row gap-6 p-2 text-white">
      @for (links of headerLinks; track $index) {
        <li class="hover:text-secondary/90 transition duration-300 cursor-pointer">{{ links.name }}</li>
      }
    </ul>
    <button class="md:hidden text-secondary p-2 focus:outline-none">
      @if (!isMenuOpen) {
        <button (click)="toggleMenu()"> ☰</button>
      } @else {
        <button (click)="toggleMenu()">✖</button>
      }
    </button>
  </div>
</header>
<nav *ngIf="isMenuOpen"
     class="fixed top-0 left-0 w-full h-full mt-20 bg-red-500 text-white p-6 flex flex-col items-center gap-6 md:hidden z-40">
  <ul class="flex flex-col gap-4">
    @for (links of headerLinks; track $index) {
      <li class="text-xl cursor-pointer hover:text-gray-300 transition duration-300">{{ links.name }}</li>
    }
  </ul>
</nav>
